http://{$DOMAIN} {
    redir https://{$DOMAIN}{uri} permanent
}

{$DOMAIN} {
    # Client - serve Next.js app
    reverse_proxy client:3000
    
    # Backend API - proxy to FastAPI
    # Note: This path must match NEXT_PUBLIC_API_URL build arg (default: /api)
    handle_path /api/* {
        reverse_proxy {$BACKEND_API_HOST}:{$BACKEND_API_PORT}
    }
}
